div{
    border: 1px solid black;
    width: 100px;
    height: 100px;
    display: inline-block;
}

body{
    /* font-size: 0; */
}

div{
    /* font-size: 14px; */
    margin: -2px;
    vertical-align: top;
}

.one{

}

.two {

}

.three{

}

.four{

}

.five{

}
