body {
  margin: 0;
  padding: 0;
  font-family: monospace;
  font-size: 14px;
  color: white;
}

.wrap {
  max-width: 670px;
  margin: 0 auto;
  background-color: #323355;
}

.timeline {
  position: relative;
}

.timeline::after {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  bottom: 0;
  left: 50%;
  border: 1px solid #5e607a;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.timeline-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.timeline-items-left {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  max-width: 335px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 50px 30px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.timeline-items-left .timeline-item {
  position: relative;
  background-color: #a8608c;
  padding: 15px 10px 15px 15px;
  max-width: 180px;
  -webkit-box-shadow: 0 2px 5px #232331;
          box-shadow: 0 2px 5px #232331;
}

.timeline-items-left .timeline-item::after {
  position: absolute;
  top: 0;
  bottom: 0;
  right: -15px;
  margin: auto 0;
  content: "";
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-left: 20px solid #a8608c;
  border-bottom: 8px solid transparent;
}

.timeline-items-left .timeline-item-color-3,
.timeline-items-left .timeline-item-color-7 {
  background-color: #967fb5;
}

.timeline-items-left .timeline-item-color-3::after,
.timeline-items-left .timeline-item-color-7::after {
  border-left: 20px solid #967fb5;
}

.timeline-items-left .timeline-item-color-5 {
  background-color: #cd3737;
}

.timeline-items-left .timeline-item-color-5::after {
  border-left: 20px solid #cd3737;
}

.timeline-items-right {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  max-width: 335px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0 30px 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.timeline-items-right .timeline-item {
  position: relative;
  background-color: #739ac2;
  padding: 15px 10px 15px 15px;
  max-width: 180px;
  -webkit-box-shadow: 0 2px 5px #232331;
          box-shadow: 0 2px 5px #232331;
}

.timeline-items-right .timeline-item::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -15px;
  margin: auto 0;
  content: "";
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-right: 20px solid #739ac2;
  border-bottom: 8px solid transparent;
}

.timeline-items-right .timeline-item-color-4 {
  background-color: #7e9874;
}

.timeline-items-right .timeline-item-color-4::before {
  border-right: 20px solid #7e9874;
}

.timeline-items-right .timeline-item-color-6 {
  background-color: #3d999d;
}

.timeline-items-right .timeline-item-color-6::before {
  border-right: 20px solid #3d999d;
}

.timeline-items-right .timeline-item-color-8 {
  background-color: #6b7392;
}

.timeline-items-right .timeline-item-color-8::before {
  border-right: 20px solid #6b7392;
}

.timrline-item-big {
  position: relative;
}

.timrline-item-big::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto auto;
  content: "";
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #5e607a;
  text-align: center;
  vertical-align: middle;
  font-size: 12px;
  z-index: 1;
  line-height: 50px;
  -webkit-box-shadow: 0 2px 5px #232331;
          box-shadow: 0 2px 5px #232331;
}

.timeline-item-number-2011::after {
  content: "2011";
}

.timeline-item-number-2006::after {
  content: "2006";
}

.timeline-item-number-2004::after {
  content: "2004";
}

.timeline-item-number-1999::after {
  content: "1999";
}

.timeline-item-number-1998::after {
  content: "1998";
}

.timeline-item-number-1984::after {
  content: "1984";
}

.timrline-item-small {
  position: relative;
}

.timrline-item-small::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto auto;
  content: "";
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #5e607a;
  text-align: center;
  vertical-align: middle;
  font-size: 12px;
  z-index: 1;
  line-height: 50px;
  -webkit-box-shadow: 0 2px 5px #232331;
          box-shadow: 0 2px 5px #232331;
}
